* {

    color: var(--fontColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


body {

    background: var(--bg);

}

ul {

    font-family: monospace;

}

li {

    list-style: circle;

}

.list {

    list-style: square;

}

.light-theme {

    --bg: var(--blue);
    --fontColor: var(--white);
    --btnBg: var(--blue);
    --btnFontColor: var(--white);

}

.dark-theme {

    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--black);
    --btnFontColor: var(--white);

}

/* O seletor de root representa o elemento <html> na página HTML. Para esse tipo de tarefa, uma melhor prática é definir um conjunto de variáveis CSS globais no elemento :root. */

:root {

    --blue: #009dff;
    --white: #ffffff;
    --black: #000000;

}

.btn {

    position: absolute;
    top: 20px;
    left: 300px;
    height: 80px;
    width: 80px;
    border-radius: 40%;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: none;
}